*{padding:0;margin:0;box-sizing:border-box;}
body{
     scroll-behaviour:smooth;
     font-family: 'Roboto', sans-serif;
     /*font-family: 'Akaya Kanadaka', cursive*/

    }
    :root{
         --primary:indianred;
         --secondary:rgba(15,10,29,0.849);
         --light:#3f3640;
    }
    header{
     height:100%;
     width:100%;
    }
    .nav1{
     width:100%;
     height:80px; 
     display: flex;
     justify-content: space-around;
     flex-wrap:wrap;
     box-shadow: 2px 2px 3px grey;
     text-align: center;
    }
    .nav1 .left{
     flex-basis: 50%;
     letter-spacing: 2px;
     margin-top: 20px;
    }
    .right{
     flex-basis: 40%;
     margin-top: 20px;
    }
    .right i{
     text-align: right;
     font-size: 30px;
     margin:2px 15px;
     background-color: var(--secondary);
     padding:10px;
     color:white;
     cursor:pointer;
     margin-right: 20px;
     align-items: right;
    }
     .nav1-right i:hover{
     color:red;
     
    }
    .nav2{
     height:100px;
     width:100%;
     display:flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     text-align: center;
    }
    .nav2 .nav2-left,.nav2 .nav2-centre,.nav2 .nav2-right{
     flex-basis: 5%;
     margin:auto;
     cursor:pointer;
    }
    .nav2 .nav2-left i{
     margin-right:10px;
     flex-basis: 100%;
     margin-left: opx 2px;
    }
    .nav2 .nav2-centre, h1{
     color:var(--primary);
     font-size: 2rem;
     letter-spacing: 5px;
     font-weight: bold;
     text-align: center;
    }
    .nav2 .nav2-centre span{
     color:var(--secondary);
     flex-basis: content;
    }
    .nav2 .nav2-centre p{
     color:grey;
     font-size: 15px;
     margin-top: 5px;
     white-space: 2px;
    }
.nav2 .nav2-right i{
     margin-right: opx 5px;
}
.featured{
     width: 100%;
     height: 60vh;
     background: url(C:\Users\dipso\OneDrive\Desktop\personal project\img\dipson1.jpg)
     background-size:cover;
     background-position: top;
     position:relative;
}